/data
git-commands.ipynb
/.ipynb_checkpoints
/trained_model
/notebooks/.ipynb_checkpoints
/notebooks/data
/notebooks/trained_model
/notebooks/archive
/credit_card_fraud_detection/trainer/__pycache__
**/*.pyc
